<!DOCTYPE html>
<html>
<head>
  <title><%= t('.head_title') %></title>
  <%= stylesheet_link_tag 'rails_email_preview/application' %>
  <%= javascript_include_tag 'rails_email_preview/application' %>
  <%= favicon_link_tag 'rails_email_preview/favicon.png' %>
  <%= yield(:head) %>
</head>
<body>
<div class="rep-standalone-container">
  <%= render 'layouts/rails_email_preview/flash_notices' %>
  <%= yield %>
</div>
</body>
</html>
