<%
  # When rendering inside rails_email_preview hide nav, and hide irrelevant things from the form
  adapter = ::RailsEmailPreview::Integrations::ComfortableMexicanSofa
  snippet = @snippet || (adapter.cms_snippet_class === @record && @record)
  if snippet && (p = adapter.rep_email_params_from_snippet(snippet))
    show_url = rails_email_preview.rep_raw_email_url(p)
  end
  customize_form = show_url.present? || snippet && !snippet.persisted?
%>
<% if customize_form %>
  <meta name="rep-root-path" content="<%= rails_email_preview.rep_root_path %>">
  <div id="rep-cms-integration-data"
       data-show-url="<%= show_url %>"
       data-view-link-label="<%= t '.view_link' %>"
       data-edit-email-label="<%= t '.edit_email'%>"></div>
  <% if adapter.cms_v2_plus? %>
    <script><%= render file: 'integrations/cms/comfy_v2_integration.js' %></script>
  <% else # CMS v1   %>
    <script><%= render file: 'integrations/cms/comfy_v1_integration.js' %></script>
  <% end %>
<% end %>
